<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Disequilibrium Economics</title>

    <meta name="description" content="An in-depth discussion of disequilibrium economics and its applications to contemporary economic phenomena world-wide.">
    <link rel="stylesheet" href="{{site.baseurl}}/css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type='text/javascript' src='{{site.baseurl}}/scripts/script.js'></script>
</head>